<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Albums</title>
</head>
<body>
<h1>All the Albums</h1>
<ul>
    <li th:each="album : ${albums}">
        Title: <span th:text="${album.title}"></span>
        Artist: <span th:text="${album.artist}"></span>
        Song Count: <span th:text="${album.songCount}"></span>
        Album Length(seconds): <span th:text="${album.length}"></span>
        Album Image(url): <span th:text="${album.imageUrl}"></span>
    </li>
</ul>
</body>
</html>